.root {
	-fx-background-color: rgb(0,110,190);
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(rgb(0,110,190), #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.context-menu{
	  -fx-background-color: rgb(0,51,89);
}

.menu-bar{
  	-fx-background-color: rgb(0,95,165);
  	-fx-border-color:  #ffffff;
  	-fx-border-width: 1

}

.menu-bar .label {
    -fx-fill-color: #ffffff;
    -fx-font-size: 13 pt;
    -fx-text-fill: white;
}

.menu-item {
	-fx-background-color: rgb(0,100,180);
	-fx-border-color: rgb(0,100,180);
}

.menu-item .base {
	-fx-background-color: rgb(0,100,180);
}

 .dialog-pane{
	-fx-background-color: rgb(0,110,190);
 	-fx-border-color:black;
  	-fx-border-width:2.0px;
 }

 .dialog-pane > .content {
  	-fx-background-color: rgb(0,110,190);
   	-fx-text-fill:black;
  	-fx-font-size:12 pt;
}

.text-area {
	text-area-background: rgb(0,110,190) ;
	-fx-text-fill: white ;
	-fx-font-weight: bold;
	 -fx-font-size: 14 pt;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}